.chair-item {
	width: 230px;
	height: 500px;
	border-radius: 15px;
	position: relative;
	top: 50px;
	left: 200px;
	display: flex;
	flex-direction: column;
	font-family: Ubuntu;
}

.chair-img-container {
	background-color: white;
	display: flex;
	flex-basis: 75%;
	align-items: center;
	justify-content: center;
	border: 3px solid rgb(224, 224, 224);
	border-radius: 1em;
}

.chair-img {
	width: 100%;
}

.chair-img img{
	height: auto;
	max-width: 100%;
}

.chair-text-container {
	display: flex;
	flex-basis: 15%;
	flex-direction: column;
}

.chair-text-name {
	display: flex;
	flex-basis: 40%;
	justify-content: center;
	align-items: center;
}

.chair-text-name span {
	font-size: 1.35em;
}

.chair-text-price-container {
	display: flex;
	flex-basis: 55%;
	justify-content: center;
}

.chair-text-price-usual {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-basis: 50%;
}

.chair-text-price-usual span {
	font-size: 1.15em;
	margin-top: 0.4em;
	margin-right: 0.5em;
	text-decoration: line-through;
	color: rgb(120, 120, 120);
}

.chair-text-price-discounted {
	display: flex;
	align-items: flex-end;
	flex-basis: 50%;
}

.chair-text-price-discounted span{
	font-size: 1.5em;
	margin-bottom: 0.3em;
	margin-left: 0.25em;
	color: rgb(230, 55, 70);
}